In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('lr_example').getOrCreate()

In [3]:
from pyspark.ml.regression import LinearRegression

In [4]:
data = spark.read.csv('Spark_for_Machine_Learning/0.Linear_Regression/Ecommerce_Customers.csv', inferSchema= True, header= True)

In [5]:
data.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Avatar: string (nullable = true)
 |-- Avg Session Length: double (nullable = true)
 |-- Time on App: double (nullable = true)
 |-- Time on Website: double (nullable = true)
 |-- Length of Membership: double (nullable = true)
 |-- Yearly Amount Spent: double (nullable = true)

In [6]:
for item in data.head(2)[1]:
    print(item)

hduke@hotmail.com
4547 Archer CommonDiazchester, CA 06566-8576
DarkGreen
31.92627202636016
11.109460728682564
37.268958868297744
2.66403418213262
392.2049334443264

#  SQL analysis

We get the physical plan, the execution plan

In [14]:
data.explain()

== Physical Plan ==
FileScan csv [Email#16,Address#17,Avatar#18,Avg Session Length#19,Time on App#20,Time on Website#21,Length of Membership#22,Yearly Amount Spent#23] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/Users/simon/dev/Learning/2.Python-and-Spark-for-Big-Data-master/Spark_for..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Email:string,Address:string,Avatar:string,Avg Session Length:double,Time on App:double,Tim...

In [16]:
data.filter("email = 'hduke@hotmail.com'").show()

+-----------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|            Email|             Address|   Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+-----------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|hduke@hotmail.com|4547 Archer Commo...|DarkGreen| 31.92627202636016|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
+-----------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+

In [9]:
data.head(5)

[Row(Email='mstephenson@fernandez.com', Address='835 Frank TunnelWrightmouth, MI 82180-9605', Avatar='Violet', Avg Session Length=34.49726772511229, Time on App=12.65565114916675, Time on Website=39.57766801952616, Length of Membership=4.0826206329529615, Yearly Amount Spent=587.9510539684005),
 Row(Email='hduke@hotmail.com', Address='4547 Archer CommonDiazchester, CA 06566-8576', Avatar='DarkGreen', Avg Session Length=31.92627202636016, Time on App=11.109460728682564, Time on Website=37.268958868297744, Length of Membership=2.66403418213262, Yearly Amount Spent=392.2049334443264),
 Row(Email='pallen@yahoo.com', Address='24645 Valerie Unions Suite 582Cobbborough, DC 99414-7564', Avatar='Bisque', Avg Session Length=33.000914755642675, Time on App=11.330278057777512, Time on Website=37.110597442120856, Length of Membership=4.104543202376424, Yearly Amount Spent=487.54750486747207),
 Row(Email='riverarebecca@gmail.com', Address='1414 David ThroughwayPort Jason, OH 22070-1220', Avatar='SaddleBrown', Avg Session Length=34.30555662975554, Time on App=13.717513665142507, Time on Website=36.72128267790313, Length of Membership=3.120178782748092, Yearly Amount Spent=581.8523440352177),
 Row(Email='mstephens@davidson-herman.com', Address='14023 Rodriguez PassagePort Jacobville, PR 37242-1057', Avatar='MediumAquaMarine', Avg Session Length=33.33067252364639, Time on App=12.795188551078114, Time on Website=37.53665330059473, Length of Membership=4.446308318351434, Yearly Amount Spent=599.4060920457634)]

In [10]:
data.createGlobalTempView('data')

The sql function on a SparkSession enables applications to run SQL queries programmatically and returns the result as a DataFrame.

In [12]:
all_data = spark.sql("SELECT * FROM data")

AnalysisException: Table or view not found: data; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [data], [], false